# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env*.local

# debug
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# drizzle
drizzle/

# uploaded photos
.photo-uploads/

# test
coverage/
